* {
  font-family: 'Mulish';
}

/*    MAIN     */
#main {
  display: flex;
  background-color: #16191c;
  color: #fafbff;
  font-weight: 200;
}

/*   IMAGE   */
.image-container {
  width: 60%;
  height: 100vh;
  background: url('../img/e-commerce-fondo.jpg') center no-repeat;
  background-size: cover;
}

/*   LOGIN CONTAINER */

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-content {
  width: 40%;
  position: relative;
}

.backdrop-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  margin: auto;
}

#e-commerce-vector {
  width: 15em;
}

.input {
  margin-top: 0.5em;
  width: 100%;
  height: 56px;
  background-color:#1D2125;
  border: none;
  border-radius: 6px;
  padding: 1em;
  font-size:  0.9em;
  color:#BBBFCC;
  text-shadow: 0px 4px 4px #0000001f;
  outline:none;
  font-weight: 300;
}

#show-hide-button {
  width: fit-content;
  height: 24px;
  position: absolute;
  right: 0.5em;
  bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#eye-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*   TITLE   */
.title {
  font-size: 1.7em;
  margin-top: 1em;
}

/* RIGHT SIDE CONTAINER   */
.container {
  width: 100%;
  /* margin: auto; */
  text-align: center;
}

/*   FORM   */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.inputs-container {
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: start;
  margin: 1.5em 0;
  border-radius: 6px;
}

.label {
  padding: 0 0.5em;
  font-size: 0.9em;
}

.input {
  margin-top: 0.5em;
  width: 100%;
  height: 3em;
  background-color: #1d2125;
  border: none;
  border-radius: 6px;
  padding: 1em;
  font-size: 0.9em;
  color: #bbbfcc;
  text-shadow: 0px 4px 4px #0000001f;
  outline: none;
  font-weight: 300;
}

#password-icon {
  position: absolute;
  right: 0.5em;
  bottom: 1em;
  cursor: pointer;
}

.button {
  background: linear-gradient(90deg, #3969fc 0%, #2a49ff 100%);
  box-shadow: 0 0 20px #00000010;
  font-size: 1em;
  padding: 0 2em;
  color: #fff;
}

#e-commerce-vector {
  width: 80%;
  /* height: auto; */
}

/*     ALERTA CAMPOR INVALIDOS   */

.alert-validation {
  color: rgb(192, 49, 49);

  display: none;
}

/* Responsive para tablet */
@media (min-width: 576px) and (max-width: 992px) {
  #main {
    min-height: 100vh;
  }

  #logo-eco {
    display: none;
  }

  .image-container {
    background: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)),
      url('../img/login-image-tablet.webp') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
  }

  .login-content {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .backdrop-filter-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }

  .backdrop-filter-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 8, 9, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 24px;
    z-index: 1;
  }

  .login-container {
    display: flex;
    width: 100%;
    padding: 48px 24px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 2;
  }

  .container {
    margin: auto 0;
    width: 100%;
  }

  #form {
    margin: 24px 0;
  }
   #signBtn.input.button{  
    background-color: #3969FC;
    color: white; 
    border: 1px solid #3969FC;
    border-radius: 30px;
    padding: 10px 20px 10px 20px; 
    gap: 16px;
    font-size: 14px;  
    cursor: pointer;   
    transition: background-color 0.3s, transform 0.3s; 
  }  

  #signBtn.input.button:hover {  
    background-color: transparent;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));   
    color: #3969FC; 
    transform: scale(1.05); 
}
}

/*    CUANDO LA PANTALLA ES MENOR A 576PX    */

@media (max-width: 575px) {
  #main {
    width: 100%;
  }

  .container {
    margin: auto 0;
    width: 100%;
  }

  .image-container {
    width: 0;
  }

  .login-content {
    width: 100%;
  }

  .backdrop-filter-container {
    width: 100%;
  }

  .login-container {
    width: 100%;
    padding: 24px;
    background: radial-gradient(50% 50% at 50% 50%, #16191c 0%, #101214 100%);
    box-shadow: inset 0px 0px 30px 2px rgba(42, 73, 255, 0.18);
    height: 100%;
  }

  #logo-eco {
    display: none;
  }

  #e-commerce-vector {
    width: 75%;
  }

  .title {
    font-size: 1.3em;
  }
}

/* Media query para pantallas de hasta 320px de ancho */
@media (max-width: 320px) {
  .login-container {
    width: 100%;
    padding: 15px;
  }

  #logo-eco {
    display: none;
  }

  .title {
    font-size: 1.2em;
  }

  .input::placeholder {
    opacity: 0.6;
  }
}
